@import url('https://fonts.googleapis.com/css2?family=Krub&family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}
:root {
  --font-size-p: 1.4rem;
  --font-size-title: 2.4rem;
  --primary-color: #639FAB;
  --font-color-light: #cdcdcd;
  --bg-light-color: #ffffff;
  --btn-bg-color: #edf0f1;
}
html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 30rem;
  min-height: 100%;
}
header {
  min-width: 30rem;
  width: 100%;
  position: sticky;
  top: 0;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.4rem;
  color: var(--primary-color);
  font-size: 2.4rem;
  border: none;
}
.logo {
  width: 15rem;
  max-width: 18rem;
}
.unvisible {
  visibility: hidden;
}

.top-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  padding-bottom: 0;
  background-color: var(--bg-light-color);
  opacity: 0.9;
}
.navBar ul {
  display: flex;
  justify-content: space-between;
}
.navBar ul a {
  text-decoration: none;
}
.navBar ul li {
  font-size: 1.6rem;
  list-style: none;
  color: var(--primary-color);
  padding: 1.6rem;
  border-radius: 0.8rem;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  min-width: 30rem;
  width: 100%;
  max-width: 60rem;
  gap: 1.6rem;
  padding: 2.5rem 1.6rem;
}
.container img {
  max-width: 27.5rem;
}
.container h1 {
  color: var(--primary-color);
  font-family: 'Krub', sans-serif;
  font-size: 1.8rem;
}
.container p {
  font-family: 'Roboto', sans-serif;
  font-size: var(--font-size-p);
}
footer {
  position: sticky;
  bottom: 0;
  background-color: #ffffff;
}
.foot-container {
  width: 100%;
}
.mobile-nav {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 30rem;
  max-width: 60rem;
  max-height: 8.9rem;
  margin: 0 auto;
  position: sticky;
  bottom: 0;
}
.footer-navIcon {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  max-width: 16rem;
  padding-bottom: 1rem;
  border: solid 0.1rem #BBCDE5;
  background-color: var(--bg-light-color);
  border-radius: 0.8rem 0.8rem 0 0;
  text-decoration: blink;
}
.footer-navIcon p {
  font-size: var(--font-size-p);
  padding-bottom: 0.8rem;
}
.footer-navIcon:active {
 background-color: var(--btn-bg-color);
}
.footer-navIcon:visited {
 color: #1C5D99;
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}
.bio h2 {
  font-size: 3.2rem;
  color: var(--primary-color);
  text-align: center;
}
.bio h3 {
  font-size: 1.6rem;
  color: var(--primary-color);
  text-align: center;
}
.bio p , ul li {
  font-size: var(--font-size-p);
}
.intro {
  gap: 2rem;
}
.intro img {
  width: 15rem;
  max-width: 20rem;
  border: none;
  border-radius: 50%;
}
.intro h3 {
  color: #5f5f5f;
}
.study img {
  width: 100%;
  max-width: 20rem;
}
.btn-mark {
  height: 0.1rem;
  width: 60%;
  margin: auto;
  background-color: #1C5D99;
}
.card {
  display: flex;
  flex-direction: column;
  width: 95%;
  gap: 3rem;
  padding: 2rem;
  border-radius: 0.8rem;
  box-shadow: #00000029 0px 1px 4px;
}

.main-portfolio {
  text-align: center;
  align-items: center;
  min-width: 36rem;
  gap: 1.6rem;
}
.main-portfolio h1 {
  color: var(--primary-color);
  font-size: 3.2rem;
  font-weight: 300;
}
.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  max-width: 38rem;
}
.project img:hover {
  background-color: #ffffff;
  opacity: 0.6;
}
.project h2 {
  font-size: var(--font-size-title);
  color: var(--primary-color);
}
.project p {
  font-size: var(--font-size-p);
  color: #4b4b4b;
}
.video {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}


.main-title {
  font-weight: 300;
}
.project-resource span {
  padding: 1.4rem;
  color: var(--primary-color);
  font-size: 2.4rem;
  border: none;
}
.hero-contact {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 30rem;
  padding: 2rem;
  border-radius: 0.8rem;
  box-shadow: #00000029 0px 1px 4px;
}
.hero-contact form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.hero-contact form div {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.hero-contact form label {
  font-size: var(--font-size-p);
  color: #747171;
}
.hero-contact form input {
  min-height: 2.4rem;
  padding-left: 0.4rem;
  border: solid 0.05rem #00000029;
  border-radius: 0.4rem;
  margin-top: 0.6;
  font-size: var(--font-size-p);
}
.hero-contact form input::placeholder {
  font-size: 1.2rem;
  color: #b7b7b7;
  padding: 0.2rem;
}

.hero-contact textarea {
  min-width: 100%;
  padding-left: 0.4rem;
  border: solid 0.05rem #00000029;
  border-radius: 0.4rem;
  font-size: var(--font-size-p);

}
.hero-contact textarea::placeholder {
  font-size: 1.2rem;
  color: #b7b7b7;
  padding: 0.2rem;

}
.helper {
  padding-top: 0.6rem;
  color: rgb(156, 45, 62);
}
.form-btns {
  padding: 0.8rem;
  gap: 0.4rem;
}
.media {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  gap: 1.4rem;
}
.media-icon {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  border-radius: 50%;
}
.btn {
  width: 100%;
  font-size: var(--font-size-p);
  padding: 0.8rem;
  border: none;
  border-radius: 0.4rem;
}
.submit {
  background-color:  #BBCDE5;
}

@media (min-width: 600px) and (orientation: landscape) {
  body {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 20% 80%;
  }
  section.top-nav {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .container {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .foot-container {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .mobile-nav {
    flex-direction: column;
    justify-content: end;
    position: fixed;
  }
}

@media (min-width: 768px) {
  section.top-nav {
    flex-direction: row;
    justify-content: space-between;
    max-width: 100rem;
    margin: 0 auto;
  }
  .mobile-nav {
    gap: 1.2rem;
    margin-bottom: 2rem;
  }
  .navBar > a:hover, .navBar > a:active {
    background-color: var(--font-color-light);
    border-radius: 0.8rem;
    text-decoration: blink;
  }
  .navBar > ul > li:hover {
    background-color: var(--font-color-light);
  }
  .carousel {
    max-width: 60rem;
    gap: 3rem;
    padding: 2.5rem 1.6rem;
  }
  .foot-container {
    margin-bottom: 2rem;
  }
  .mobile-nav {
    gap: 2rem;
  }
  .footer-navIcon {
    border-radius: 0.8rem;
  }
  .footer-navIcon:hover {
    background-color: var(--btn-bg-color);
  }
  .reset:hover {
    background-color: #ffffff;
    border: solid 0.1rem #747171;
  }
  .submit:hover {
    background-color: var(--primary-color);
  }
}