.container {
  display: flex;
  flex-direction: column;
  min-width: 30rem;
  width: 100%;
  max-width: 60rem;
  gap: 3rem;
  padding: 2.5rem 1.6rem;
}
.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}
.bio h2 {
  font-size: var(--font-size-title);
  color: var(--primary-color);
  text-align: center;
}
.bio h3 {
  font-size: 1.6rem;
  color: var(--primary-color);
  text-align: center;
}
.bio p , ul li {
  font-size: var(--font-size-p);
}

.intro {
  gap: 2rem;
}
.intro img {
  width: 15rem;
  max-width: 20rem;
  border: none;
  border-radius: 50%;
}
.intro h3 {
  color: var(--font-color-dark);
}

.study img {
  width: 100%;
  max-width: 20rem;
}

@media (min-width: 768px) {
  section.top-nav, .mobile-nav {
    max-width: 100rem;
    margin: 0 auto;
  }
  .foot-container {
    margin-bottom: 2rem;
  }
  .mobile-nav {
    gap: 2rem;
  }
  .footer-navIcon {
    border-radius: 0.8rem;
  }
}