@import url('https://fonts.googleapis.com/css2?family=Krub&family=Roboto&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-width: 30rem;
  min-height: 100%;
}
header {
  min-width: 30rem;
  width: 100%;
  position: sticky;
  top: 0;
}
:root {
  --font-title: 'Krub', sans-serif;
  --font-paragraph: 'Roboto', sans-serif;
  --font-size-p: 1.4rem;
  --font-size-title: 3.2rem;
  --primary-color: #639FAB;
  --secondary-color: #BBCDE5;
  --accent-color: #1C5D99;
  --font-color-light: #cdcdcd;
  --font-color-dark: #4b4b4b;
  --bg-light-color: #ffffff;
  --btn-bg-color: #edf0f1;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.icon, .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.4rem;
  color: var(--primary-color);
  font-size: 2.4rem;
  border: none;
}
.logo {
  width: 14rem;
}

.hidden {
  display: none;
}

.unvisible {
  visibility: hidden;
}

.navBar {
  min-width: 30rem;
}
.navBar ul {
  display: flex;
  justify-content: space-between;
  margin: 0 3rem;
}
.navBar ul li {
  font-size: 1.6rem;
  list-style: none;
  color: var(--primary-color);
  padding: 1rem;
  border-radius: 0.8rem;
  list-style: none;
}

.top-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
  padding: 2rem;
  padding-bottom: 0;
  background-color: var(--bg-light-color);
  opacity: 0.9;
}
.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.8rem;
  padding: 2rem;
  border-radius: 0.8rem;
  box-shadow: #00000029 0px 1px 4px;
}

.foot-container {
  width: 100%;
}
.mobile-nav {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 30rem;
  max-width: 60rem;
  max-height: 8.9rem;
  margin: 0 auto;
  position: sticky;
  bottom: 0;
}
.footer-navIcon {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  max-width: 16rem;
  padding-bottom: 1rem;
  border: solid 0.1rem #BBCDE5;
  background-color: var(--bg-light-color);
  border-radius: 0.8rem 0.8rem 0 0;
  text-decoration: blink;
}
.footer-navIcon p {
  font-size: var(--font-size-p);
  padding-bottom: 0.8rem;
}
.footer-navIcon:active {
 background-color: var(--btn-bg-color);
}
.footer-navIcon:visited {
 color: var(--accent-color);
}
.btn-mark {
  height: 0.1rem;
  width: 60%;
  margin: auto;
  background-color: #1C5D99;
}

@media (min-width: 768px) {
  section.top-nav {
    flex-direction: row;
    justify-content: space-between;
    max-width: 100rem;
    margin: 0 auto;
  }
  .mobile-nav {
    gap: 1.2rem;
    margin-bottom: 2rem;
  }
  .navBar > a:hover, .navBar > a:active {
    background-color: var(--font-color-light);
    border-radius: 0.8rem;
    text-decoration: blink;
  }
  .foot-container {
    margin-bottom: 2rem;
  }
  .mobile-nav {
    gap: 2rem;
  }
  .footer-navIcon {
    border-radius: 0.8rem;
  }
  .footer-navIcon:hover {
    background-color: var(--btn-bg-color);
  }
}